
a .navbar-item :hover{
    background-color: #7ac7c4;
}

.items-tile{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    width:260px;
    margin:0.5rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.card-image{
    display:flex;
    height:200px;
    align-items:center;
}

.card img{
    height:200px;
    margin:0 auto;
    transform:scale(0.8);
}

.card-content{
    flex-grow:1;
}