<!DOCTYPE html>

<th:block th:insert="fragments/head::head(${pageTitle})"></th:block>

<!-- invoice search page css -->
<link rel="stylesheet" href="css/invoicesearch.css" />

<script defer src="js/invoicesearch.js"></script>
</head>

<body>

  <th:block th:insert="fragments/navbar :: navbar(${isLoggedIn})"></th:block>


  <!-- Search by Invoice Id Form -->

  <form action="/invoicesearch" method="POST">
    <div class="searchbarcontainer">
      <div class="invoicesearchbar field">
        <label class="label">Invoice ID</label>
        <div class="control">
          <input name="invoiceid" min="1" class="input" type="number" required>
        </div>
      </div>
      <button type="submit" class="button is-primary is-light findbutton">Find</button>
    </div>
  </form>


  <!-- Search by Contact Name Form -->
  <!-- <div class="title is-size-5">OR</div>

    <form action="/invoicesearch" method="POST" >
      <div class="searchbarcontainer">
        <div class="invoicesearchbar field">
          <label class="label">Invoice Contact Name</label>
          <div class="control">
            <input name="invoiceContactName" class="input" type="text">
          </div>
        </div>
        <button type="submit" class="button is-primary is-light findbutton">Find</button>
      </div>
    </form> -->

  <!-- results space -->

  <th:block th:switch="${showSearchResults}">
    <th:block th:case="true">

      <!-- card -->
      <div class="card result-card">
        <div class="card-content">
          <div class="content">
            <div class="order-result-heading">
              <p class="title is-size-4"><span>Invoice Id : </span><span class="has-text-weight-normal"
                  th:text="${order.id}"></span> </p>
              <p class="title is-size-6"><span>Created At : </span><span class="has-text-weight-normal"
                  th:text="${order.createdAt}"></span> </p>
              <a class="get-invoice-link" th:href="${'/invoicesearch/'+order.id}"><button
                  class="button is-primary is-light get-invoice-button">Get Invoice PDF</button></a>
            </div>
            <!-- accordion -->

            <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
              <p class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3" style="margin-bottom:0;">Ordered Items</p>
              <div class="pa3 bt b--black-10">
                <p class="f6 f5-ns lh-copy measure">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light" th:each="orderItem:${order.orderItems}">
                        <td th:text="${orderItem.item.name}"></td>
                        <td th:text="${orderItem.quantity}">Otto</td>
                        <td th:text="${orderItem.item.price}">@mdo</td>
                      </tr>
                    </tbody>
                  </table>
                </p>
              </div>
            </article>

            <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
              <p class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3" style="margin-bottom:0;">Billing Address</p>
              <div class="pa3 bt b--black-10">
                <p class="f6 f5-ns lh-copy measure">
                  <div class="order-address" th:object=${order.billingAddress}>
                    <p th:text="*{contactName}"></p>
                    <p th:text="*{companyName}"></p>
                    <p th:text="*{companyAddress}">
                      </li>
                    <p th:text="*{'Phone : '+phoneNumber}">
                      </li>
                    <p th:text="*{'Email : '+emailAddress}"></p>
                  </div>
                </p>
              </div>
            </article>

            <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
              <p class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3" style="margin-bottom:0;">Shipping Address</p>
              <div class="pa3 bt b--black-10">
                <p class="f6 f5-ns lh-copy measure">
                  <div class="order-address" th:object=${order.shippingAddress}>
                    <p th:text="*{contactName}"></p>
                    <p th:text="*{companyName}"></p>
                    <p th:text="*{companyAddress}">
                      </li>
                    <p th:text="*{'Phone : '+phoneNumber}">
                      </li>
                    <p th:text="*{'Email : '+emailAddress}"></p>
                  </div>
                </p>
              </div>
            </article>

            
            <!-- accordion -->

          </div>
        </div>
      </div>
    </th:block>
  </th:block>

  <th:block th:switch="${hasErrors}">
    <div class="errorcontainer" th:case="true">
      <img id="order_not_found_img" loading="lazy" src="images/404.webp" alt="order not found image" />
      <p class="title is-size-3" th:text="${errorMessage}"></p>
      <p class="title is-size-5">Explore our products and create some orders</p>
      <a href="/"><button class="explore-button button">Explore</button></a>
    </div>
  </th:block>


  <div th:insert="fragments/footer :: footer"></div>
</body>

</html>